openapi: 3.1.0
info:
  title: Prezent Platform Audiences Template Converter API
  version: 1.0.0
  summary: Agent-ready REST API for Prezent's content-generation and template-conversion services.
  description: "The Prezent Platform API exposes Prezent's AutoGenerator, Template Converter,\nAudiences, Themes, and File-upload services as a uniform JSON HTTP API.\n\nThis contract describes the **target agent-ready shape** of the API: every\ndocumented endpoint returns a uniform success envelope `{ \"success\": true,\n\"data\": { ... } }` or a uniform error envelope `{ \"success\": false,\n\"data\": null, \"error\": { \"code\": \"...\", \"message\": \"...\", \"details\": { ... } } }`.\nError codes are drawn from a stable catalog (see `ErrorCode`). The contract\nis additive: handlers may continue to emit legacy keys alongside the\ndocumented ones for backwards compatibility, so schemas explicitly allow\nadditional properties at the envelope and data levels.\n\nSeveral endpoints kick off long-running background work and return a\n`callback_id` that the client polls against a corresponding status\nendpoint. The canonical async polling endpoint for the Template Converter\nfamily is **`GET /api/v2/template-converter/status/{callback_id}`** which\nuses strict HTTP-status mapping (200 only on workflow success, 4xx/5xx on\nworkflow failure). The v1 polling endpoint at\n`/api/v1/template-converter/status/{callbackId}` (and its REST alias\n`GET /api/v1/template-conversions/{callback_id}`) continues to be served\nwith legacy semantics (HTTP 200 with `status` field) and is intentionally\nomitted from this documentation.\n\n**REST resource aliases (v1.1).** AutoGenerator and Template Converter\nendpoints are documented here under their REST-resource path names\n(`/api/v1/autogenerations`, `/api/v1/template-conversions`). The legacy\nRPC-style paths under `/api/v1/autogenerator/*` and\n`/api/v1/template-converter/*` continue to be served indefinitely; they\nreturn a `Deprecation: true` header pointing to the successor alias.\n\n**Conventions that apply to every endpoint** (full reference in the\ncompanion guides on this documentation site):\n\n- **Auth:** API key as a Bearer token — `Authorization: Bearer <key>`.\n  Each key is scoped to an allow-list of endpoint paths; an out-of-scope\n  call returns `404 ENDPOINT_NOT_FOUND`.\n- **Rate limits:** gateway throttle 10 req/s sustained, 5 burst,\n  1,000 req/day per key; per-company per-category 60-second sliding\n  windows; annual quotas (50,000 slide generations/yr, 1,000,000\n  downloads/yr). Limit breaches return `429` with `error.code`\n  `TOO_MANY_REQUESTS` (gateway), `RATE_LIMIT_EXCEEDED` (per-category),\n  or `USAGE_LIMIT_EXCEEDED` (annual).\n- **Errors:** every error uses the `{ success:false, data:null, error:{\n  code, message, details } }` envelope with stable, documented `code`\n  values.\n- **Idempotency & pagination:** mutating requests accept an\n  `Idempotency-Key`; list endpoints accept opt-in `limit`/`cursor`\n  paging.\n\n**Building with an AI agent?** Prezent ships a first-class Model Context\nProtocol (MCP) server. The hosted endpoint is\n`https://mcp.myprezent.com/mcp` (OAuth 2.1, works with Claude.ai Custom\nConnectors); a local stdio server is published on PyPI as\n`prezent-mcp-server` and plugs into Claude Desktop, Cursor, Cline,\nContinue, and Zed. The MCP tools wrap the same REST endpoints\ndescribed here.\n\n**Official SDKs.** Typed REST clients are published for Python and\nTypeScript (`prezent-sdk`) — generated from and versioned against this\nspec. For other languages, generate a client from this document.\n\n**Out of scope of this document:** SCIM endpoints under `/api/v1/scim/*`.\nThose endpoints conform to RFC 7644 (SCIM 2.0) and follow a different\nenvelope (`schemas`, `Resources`, `totalResults`, etc.). They are\ndocumented separately at /docs/scim-user-management.\n"
  x-out-of-scope-note: 'SCIM endpoints (`/api/v1/scim/*`) are NOT included in this spec. They

    follow RFC 7644 (SCIM 2.0) and are documented in a separate document at

    /docs/scim-user-management.

    '
  contact:
    name: Prezent API Support
    email: support@prezent.ai
    url: https://prezent.ai
  license:
    name: Proprietary - Prezent, Inc.
    url: https://prezent.ai/terms
servers:
- url: https://api.prezent.ai
  description: Production (canonical)
- url: https://uatstage-api.myprezent.com
  description: UAT (user acceptance testing)
- url: https://devstage-api.myprezent.com
  description: Development
security:
- BearerAuth: []
tags:
- name: Template Converter
  description: Apply a target brand template to an uploaded presentation, including review suggestions, work-area adjustment, layout change, and download.
paths:
  /api/v1/template-conversions:
    post:
      tags:
      - Template Converter
      summary: Create a template-conversion job
      description: 'Kicks off a pipeline that applies the target brand template

        (`templateName`) to the input PowerPoint (`fileId` or

        `inputDeck`). Returns a `callback_id` to poll. Counted against

        the `TC_START` usage limit.


        Subsequent calls in the same conversion lifecycle: poll the v2

        status endpoint at

        `GET /api/v2/template-converter/status/{callback_id}` until the

        pipeline reaches a terminal state.

        '
      operationId: createTemplateConversion
      x-rate-limit-category: template_converter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateConverterStartRequest'
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Job accepted; client must poll for completion.
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterStartResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /api/v2/template-converter/status/{callback_id}:
    get:
      tags:
      - Template Converter
      summary: Poll a template-conversion job (strict status mapping)
      description: 'v2 polling endpoint with **strict HTTP-status mapping**: returns

        **HTTP 200 only when the conversion has completed successfully**.

        While the pipeline is still running the status is `in_progress`

        and the response is **HTTP 202**. On workflow failure the

        endpoint returns a `4xx` or `5xx` with the standard error

        envelope.


        Use this endpoint instead of the v1 polling endpoint

        (`/api/v1/template-converter/status/{callbackId}`) whenever

        possible — agents can rely on the HTTP status alone to branch on

        success vs failure, without inspecting body fields.

        '
      operationId: getTemplateConverterStatusV2
      x-rate-limit-category: template_converter
      parameters:
      - $ref: '#/components/parameters/CallbackIdPath'
      - in: query
        name: source
        required: false
        description: Pass `nexus` to include the full `outputs` blob in the response (intended for Prezent's Nexus front-end).
        schema:
          type: string
          enum:
          - nexus
      responses:
        '200':
          description: Conversion completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterStatusV2SuccessResponse'
        '202':
          description: Conversion is still in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterStatusV2InProgressResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /api/v1/template-conversions/preprocessings:
    post:
      tags:
      - Template Converter
      summary: Create a preprocessing chunk for a template-conversion input
      description: 'Accepts one chunk of a multi-chunk PPTX upload, used as the

        `inputDeck` for a subsequent template-conversion job. Only `.pptx`

        files are accepted. Collection-level — the upload is grouped by

        the body''s `fileIdentifier` and precedes the creation of the

        conversion''s `callback_id`.

        '
      operationId: createTemplateConversionPreprocessing
      x-rate-limit-category: template_converter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreprocessFileRequest'
      responses:
        '200':
          description: Chunk received.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreprocessFileResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedFileType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /api/v1/template-conversions/finalisations:
    post:
      tags:
      - Template Converter
      summary: Create a finalisation for a chunked PPTX upload
      description: 'Concludes a chunked upload identified by `fileIdentifier`. The

        finalised file must be a `.pptx`, no larger than 200 MB, and no

        more than 100 pages. Collection-level — runs before the conversion''s

        `callback_id` exists.

        '
      operationId: createTemplateConversionFinalisation
      x-rate-limit-category: template_converter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateConverterFinalprocessRequest'
      responses:
        '200':
          description: File assembled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterFinalprocessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedFileType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /api/v1/template-conversions/{callback_id}/review-suggestions:
    get:
      tags:
      - Template Converter
      summary: Read review suggestions for a template-conversion
      description: 'Returns the list of editorial suggestions produced for the

        converted deck identified by `callback_id`. Each suggestion may

        be applied via the corresponding PATCH endpoint.

        '
      operationId: listTemplateConversionReviewSuggestions
      x-rate-limit-category: template_converter
      parameters:
      - $ref: '#/components/parameters/CallbackIdPath'
      responses:
        '200':
          description: Suggestions returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterReviewSuggestionsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
    patch:
      tags:
      - Template Converter
      summary: Update review suggestions on a template-conversion
      description: 'Applies a subset of editorial suggestions to the converted deck

        identified by `callback_id`. Kicks off a background pipeline that

        produces a new derived deck; the response carries a new

        `callback_id` to poll.

        '
      operationId: updateTemplateConversionReviewSuggestions
      x-rate-limit-category: template_converter
      parameters:
      - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateConverterReviewSuggestionsPatchRequest'
      responses:
        '200':
          description: Pipeline accepted; poll the returned `callback_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterAsyncProcessingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /api/v1/template-conversions/{callback_id}/template-changes:
    post:
      tags:
      - Template Converter
      summary: Create a template change on a template-conversion
      description: 'Re-runs the conversion pipeline for an already-converted deck

        against a new target `templateName`. Returns a new `callback_id`

        to poll.

        '
      operationId: createTemplateConversionTemplateChange
      x-rate-limit-category: template_converter
      parameters:
      - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateConverterTemplateChangeRequest'
      responses:
        '200':
          description: Pipeline accepted; poll the returned `callback_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterAsyncProcessingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /api/v1/template-conversions/{callback_id}/download:
    get:
      tags:
      - Template Converter
      summary: Read the download URL for a template-conversion
      description: 'Returns a signed download URL for the converted deck identified

        by `callback_id`. Counted against the `TC_DOWNLOAD` usage limit.

        '
      operationId: getTemplateConversionDownload
      x-rate-limit-category: template_converter
      parameters:
      - $ref: '#/components/parameters/CallbackIdPath'
      responses:
        '200':
          description: Signed download URL returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterDownloadResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /api/v1/template-conversions/{callback_id}/comply-metrics:
    post:
      tags:
      - Template Converter
      summary: Create a Comply metrics record on a template-conversion
      description: 'Records compliance metrics for a converted deck. The body is

        forwarded to the ComplyMetrics service. Typically invoked via a

        `callback_id + token` URL handed back to the caller after a

        conversion.

        '
      operationId: createTemplateConversionComplyMetrics
      x-rate-limit-category: template_converter
      parameters:
      - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Arbitrary metrics payload forwarded to the ComplyMetrics service.
      responses:
        '200':
          description: Metrics recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterGenericResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /api/v1/template-conversions/{callback_id}/reactions:
    put:
      tags:
      - Template Converter
      summary: Upsert a reaction on a template-conversion
      description: 'Records a like or qualitative feedback against a converted deck.

        When `type` is `liked` the `value` must be a boolean; when

        `feedback` the `value` must be a string. Uses PUT (legacy quirk

        preserved from the original endpoint) rather than POST.

        '
      operationId: putTemplateConversionReaction
      x-rate-limit-category: template_converter
      parameters:
      - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateConverterReactionFeedbackRequest'
      responses:
        '200':
          description: Reaction/feedback stored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterReactionFeedbackResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /api/v1/template-conversions/{callback_id}/work-area-options:
    get:
      tags:
      - Template Converter
      summary: Read work-area options for a template-conversion slide
      description: 'Returns the available work-area adjustment options for the given

        slide of the given conversion job.

        '
      operationId: listTemplateConversionWorkAreaOptions
      x-rate-limit-category: template_converter
      parameters:
      - $ref: '#/components/parameters/CallbackIdPath'
      - in: query
        name: slide_index
        required: true
        description: Zero-based slide index.
        schema:
          type: integer
          minimum: 0
      responses:
        '200':
          description: Work-area options returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterWorkAreaOptionsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /api/v1/template-conversions/{callback_id}/work-area-adjustments:
    post:
      tags:
      - Template Converter
      summary: Create a work-area adjustment on a template-conversion
      description: 'Applies a selected work-area adjustment to the given slide of a

        conversion job.

        '
      operationId: createTemplateConversionWorkAreaAdjustment
      x-rate-limit-category: template_converter
      parameters:
      - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateConverterAdjustWorkAreaRequest'
      responses:
        '200':
          description: Adjustment applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterGenericResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /api/v1/template-conversions/{callback_id}/layouts:
    get:
      tags:
      - Template Converter
      summary: Read layout options for a template-conversion
      description: 'Returns the layout options available for the target template

        and, optionally, the input deck''s layouts for the given slide.

        '
      operationId: listTemplateConversionLayouts
      x-rate-limit-category: template_converter
      parameters:
      - $ref: '#/components/parameters/CallbackIdPath'
      - in: query
        name: slide_index
        required: false
        description: Zero-based slide index. If omitted, returns layouts for every slide.
        schema:
          type: integer
          minimum: 0
      responses:
        '200':
          description: Layout options returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterLayoutsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /api/v1/template-conversions/{callback_id}/layout-updates:
    post:
      tags:
      - Template Converter
      summary: Create a layout update on a template-conversion
      description: 'Updates the layout of a slide and re-renders the affected portion

        of the converted deck. Returns a new `callback_id` to poll.

        '
      operationId: createTemplateConversionLayoutUpdate
      x-rate-limit-category: template_converter
      parameters:
      - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateConverterUpdateLayoutRequest'
      responses:
        '200':
          description: Pipeline accepted; poll the returned `callback_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterAsyncProcessingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /api/v1/template-conversions/{callback_id}/format-modifications:
    post:
      tags:
      - Template Converter
      summary: Create a format modification on a template-conversion
      description: 'Applies a batch of format modifications (title-formatting,

        body-formatting) to a converted deck and re-renders the affected

        slides. Returns a new `callback_id` to poll.

        '
      operationId: createTemplateConversionFormatModification
      x-rate-limit-category: template_converter
      parameters:
      - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateConverterModifyFormatRequest'
      responses:
        '200':
          description: Pipeline accepted; poll the returned `callback_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterAsyncProcessingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /api/v1/template-conversions/{callback_id}/format-modifications/settings:
    get:
      tags:
      - Template Converter
      summary: Read available format-modification settings for a template-conversion
      description: 'Returns the available formatting controls (font sizes, weight,

        alignment) that may be applied to title/body text in a converted

        deck.

        '
      operationId: getTemplateConversionFormatModificationSettings
      x-rate-limit-category: template_converter
      parameters:
      - $ref: '#/components/parameters/CallbackIdPath'
      responses:
        '200':
          description: Settings returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterModifyFormatSettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
components:
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: 'Optional client-generated key (a UUID is ideal) that makes a

        write request safe to retry. The first request is processed and

        its response cached for 24 hours; an identical retry with the

        same key returns the cached response plus an

        `Idempotency-Replayed: true` header, so the job is never created

        twice. Reusing a key with a **different** body returns

        `409 IDEMPOTENCY_KEY_REUSED_WITH_DIFFERENT_BODY`.

        '
      schema:
        type: string
        example: 8e6df756-18f6-4f16-8e12-7d7a5c5cb181
    CallbackIdPath:
      name: callback_id
      in: path
      required: true
      description: Server-issued opaque identifier returned by an async kick-off endpoint. Used to poll status or fetch derived artefacts.
      schema:
        type: string
        minLength: 1
  schemas:
    TemplateConverterReviewSuggestionsPatchRequest:
      type: object
      description: Request body for `PATCH /api/v1/template-converter/{callback_id}/review-suggestions`.
      required:
      - suggestions
      properties:
        suggestions:
          type: array
          description: Suggestion patches to apply.
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    TemplateConverterStartResponse:
      description: Response body for `POST /api/v1/template-converter/start`.
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            type: object
            required:
            - callback_id
            properties:
              callback_id:
                type: string
                description: Conversion job id.
              token:
                type: string
                description: Token for callback-id-scoped URLs.
              presentation_name:
                type: string
                description: Resolved presentation name.
              status:
                type: string
                enum:
                - in_progress
                description: Always `in_progress` at start.
            additionalProperties: true
    TemplateConverterFinalprocessRequest:
      type: object
      description: Request body for `POST /api/v1/template-converter/finalprocess`.
      required:
      - fileIdentifier
      - fileName
      properties:
        fileIdentifier:
          type: string
          description: Identifier shared across all chunks of this upload.
        fileName:
          type: string
          description: Final filename. Must end in `.pptx`.
      additionalProperties: true
    PreprocessFileRequest:
      type: object
      description: Request body for `POST /api/v1/preprocess` and `POST /api/v1/template-converter/preprocess`.
      required:
      - fileContent
      - fileName
      - chunkIndex
      - totalChunks
      - requestIdentifier
      properties:
        fileContent:
          type: string
          description: Chunk content as base64 / `data:` URL.
        fileName:
          type: string
          description: Original filename including extension.
        chunkIndex:
          type: integer
          minimum: 0
          description: Zero-based index of this chunk.
        totalChunks:
          type: integer
          minimum: 1
          description: Total number of chunks for this upload.
        requestIdentifier:
          type: string
          description: Caller-supplied identifier that groups chunks of the same upload.
      additionalProperties: true
    CallbackEnvelope:
      description: Async-start envelope. `data.callback_id` is the value the client polls.
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            type: object
            required:
            - callback_id
            properties:
              callback_id:
                type: string
                description: Server-issued opaque identifier.
              token:
                type: string
                description: Optional one-time token used by callback-id-scoped URLs (for example status polling when no Bearer key is available).
            additionalProperties: true
    TemplateConverterAsyncProcessingResponse:
      description: 'Response for endpoints that kick off a derived conversion

        pipeline (update-layout, modify-format, template-change,

        review-suggestions PATCH).

        '
      allOf:
      - $ref: '#/components/schemas/CallbackEnvelope'
    TemplateConverterReactionFeedbackRequest:
      type: object
      description: Request body for `PUT /api/v1/template-converter/reaction-feedback`.
      required:
      - callback_id
      - type
      - value
      properties:
        callback_id:
          type: string
          description: Converted-deck callback id.
        type:
          type: string
          enum:
          - liked
          - feedback
          description: Reaction kind.
        value:
          description: When `type=liked`, a boolean. When `type=feedback`, a string.
          oneOf:
          - type: boolean
          - type: string
      additionalProperties: true
    TemplateConverterWorkAreaOptionsResponse:
      description: Response body for `GET /api/v1/template-converter/work-area-options`.
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            type: object
            required:
            - callback_id
            - work_area_adjustments
            properties:
              callback_id:
                type: string
                description: The conversion job id.
              work_area_adjustments:
                type: array
                description: Available work-area adjustments for the requested slide.
                items:
                  type: object
                  additionalProperties: true
            additionalProperties: true
    TemplateConverterUpdateLayoutRequest:
      type: object
      description: Request body for `POST /api/v1/template-converter/update-layout`.
      required:
      - callback_id
      - slide_index
      - layout_id
      properties:
        callback_id:
          type: string
          description: Conversion job id.
        slide_index:
          type: integer
          minimum: 0
          description: Zero-based slide index.
        layout_id:
          type: string
          description: Target layout id (from `/template-converter/layouts`).
      additionalProperties: true
    ErrorCode:
      type: string
      description: 'Stable identifier for an error condition. Codes never change

        meaning or HTTP status once published.

        '
      enum:
      - INVALID_API_KEY
      - EXPIRED_API_KEY
      - UNAUTHORIZED
      - FORBIDDEN
      - ENDPOINT_NOT_FOUND
      - RESOURCE_NOT_FOUND
      - NOT_FOUND
      - METHOD_NOT_ALLOWED
      - UNSUPPORTED_FILE_TYPE
      - INVALID_INPUT
      - UNPROCESSABLE_ENTITY
      - RATE_LIMIT_EXCEEDED
      - USAGE_LIMIT_EXCEEDED
      - TOO_MANY_REQUESTS
      - THROTTLED
      - BAD_REQUEST
      - INVALID_JSON
      - MISSING_REQUIRED_FIELD
      - MISSING_QUERY_PARAM
      - MISSING_CALLBACK_ID
      - MISSING_SLIDES_ARRAY
      - MISSING_PROMPT
      - MISSING_TEMPLATE_ID
      - MISSING_FILE_CONTENT
      - MISSING_SHARE_DETAILS
      - INVALID_TYPE
      - INVALID_DATA
      - INVALID_DATA_TYPE
      - INVALID_PAYLOAD
      - INVALID_REQUEST
      - API_REQUEST_FAILED
      - FILE_UPLOAD_FAILED
      - MAX_RETRIES_EXCEEDED
      - EXTERNAL_SERVICE_ERROR
      - INTERNAL_SERVER_ERROR
      - SERVICE_UNAVAILABLE
      - GATEWAY_TIMEOUT
    TemplateConverterReviewSuggestionsResponse:
      description: Response body for `GET /api/v1/template-converter/{callback_id}/review-suggestions`.
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            type: object
            required:
            - callback_id
            - suggestions
            properties:
              callback_id:
                type: string
                description: The conversion job id.
              presentation_name:
                type: string
                description: Presentation name.
              suggestions:
                type: array
                description: Editorial suggestions.
                items:
                  type: object
                  additionalProperties: true
            additionalProperties: true
    TemplateConverterFinalprocessResponse:
      description: Response body for `POST /api/v1/template-converter/finalprocess`.
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            type: object
            required:
            - file_id
            properties:
              file_id:
                type: string
                description: Identifier of the assembled file (usable as `fileId` in `template-converter/start`).
              s3_prefix:
                type: string
                description: S3 key prefix of the assembled file.
              s3_bucket:
                type: string
                description: S3 bucket of the assembled file.
              type:
                type: string
                description: Detected file type.
              size_kb:
                type: integer
                description: File size in kilobytes.
              num_of_pages:
                type: integer
                description: Number of pages/slides.
            additionalProperties: true
    TemplateConverterLayoutsResponse:
      description: Response body for `GET /api/v1/template-converter/layouts`.
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            type: object
            required:
            - callback_id
            - status
            - layouts
            properties:
              callback_id:
                type: string
                description: The conversion job id.
              status:
                type: string
                enum:
                - success
                - in_progress
                - failed
                description: Status of the layout-fetch step.
              layouts:
                type: object
                description: Available layouts for the target template and input deck.
                properties:
                  target_template_layouts:
                    type: array
                    description: Layouts from the target template.
                    items:
                      type: object
                      additionalProperties: true
                  input_deck_layouts:
                    type: array
                    description: Layouts inferred from the input deck.
                    items:
                      type: object
                      additionalProperties: true
                additionalProperties: true
            additionalProperties: true
    ErrorEnvelope:
      type: object
      description: 'Standard error envelope returned by every documented endpoint

        (both in-Lambda and gateway-level errors). Additional legacy

        keys may appear alongside `success`/`data`/`error` for

        backwards compatibility.

        '
      required:
      - success
      - data
      - error
      properties:
        success:
          type: boolean
          const: false
          description: Always `false` on error.
        data:
          type:
          - object
          - 'null'
          description: Always `null` on error.
        error:
          type: object
          required:
          - code
          - message
          description: Error description.
          properties:
            code:
              $ref: '#/components/schemas/ErrorCode'
            message:
              type: string
              description: Human-readable error description (English).
            details:
              type: object
              description: Optional structured details (validation failures, downstream-service info, etc.).
              additionalProperties: true
      additionalProperties: true
    TemplateConverterGenericResponse:
      description: Generic success envelope for Template Converter endpoints whose data is opaque or message-only (comply-metrics, adjust-work-area).
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            type: object
            properties:
              message:
                type: string
                description: Human-readable confirmation.
            additionalProperties: true
    TemplateConverterStatusV2InProgressResponse:
      description: 'Response body for

        `GET /api/v2/template-converter/status/{callback_id}` when the

        pipeline is still running. Returned with HTTP 202.

        '
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            type: object
            required:
            - callback_id
            - status
            properties:
              callback_id:
                type: string
                description: The polled callback id.
              status:
                type: string
                enum:
                - in_progress
                description: Always `in_progress` on HTTP 202.
              presentation_name:
                type: string
                description: Resolved presentation name.
              template_name:
                type: string
                description: Target template being applied.
              progress:
                type: object
                description: Optional progress metadata (stage/percentage).
                additionalProperties: true
            additionalProperties: true
    TemplateConverterStartRequest:
      type: object
      description: Request body for `POST /api/v1/template-converter/start`.
      required:
      - templateName
      properties:
        fileId:
          type: string
          description: Identifier of a previously uploaded input deck. Mutually exclusive with `inputDeck`.
        inputDeck:
          type: object
          description: Inline reference to the input deck (S3 path / chunk identifier). Mutually exclusive with `fileId`.
          additionalProperties: true
        templateName:
          type: string
          description: Name of the target brand template.
        includeImageWithoutData:
          type: boolean
          description: Carry over images that have no associated data.
        includeImageWithData:
          type: boolean
          description: Carry over images that have associated data.
        includeIcons:
          type: boolean
          description: Carry over icons.
        includeSpecialColor:
          type: boolean
          description: Preserve special color treatments from the source deck.
        settings:
          type: object
          description: Per-conversion settings.
          properties:
            ai_mode:
              type: string
              description: Conversion AI mode.
            work_area_option:
              type: string
              description: Default work-area option.
            modifyFormat:
              type: object
              description: Default formatting overrides.
              additionalProperties: true
            color_preference:
              type: string
              description: Color treatment preference.
            content_formatting:
              type: string
              description: Content-formatting preference.
          additionalProperties: true
        modifyFormat:
          type: object
          description: Optional top-level format overrides (legacy placement).
          additionalProperties: true
      additionalProperties: true
    TemplateConverterModifyFormatSettingsResponse:
      description: Response body for `GET /api/v1/template-converter/modify-format-settings`.
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            type: object
            required:
            - callback_id
            - modify_format_settings
            properties:
              callback_id:
                type: string
                description: The conversion job id.
              modify_format_settings:
                type: array
                description: Available formatting controls.
                items:
                  type: object
                  additionalProperties: true
            additionalProperties: true
    TemplateConverterStatusV2SuccessResponse:
      description: 'Response body for

        `GET /api/v2/template-converter/status/{callback_id}` when the

        pipeline has completed successfully. Returned with HTTP 200.

        '
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            type: object
            required:
            - callback_id
            - status
            properties:
              callback_id:
                type: string
                description: The polled callback id.
              status:
                type: string
                enum:
                - success
                description: Always `success` on HTTP 200.
              presentation_name:
                type: string
                description: Final presentation name.
              template_name:
                type: string
                description: Target template that was applied.
              outputs:
                type: object
                description: Full conversion output blob. Only present when `source=nexus`.
                additionalProperties: true
            additionalProperties: true
    TemplateConverterReactionFeedbackResponse:
      description: Response body for `PUT /api/v1/template-converter/reaction-feedback`.
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            type: object
            properties:
              callback_id:
                type: string
                description: The deck callback id.
              type:
                type: string
                enum:
                - liked
                - feedback
                description: Reaction kind.
              message:
                type: string
                description: Human-readable confirmation.
              warnings:
                type: array
                description: Optional non-fatal warnings.
                items:
                  type: string
            additionalProperties: true
    TemplateConverterModifyFormatRequest:
      type: object
      description: Request body for `POST /api/v1/template-converter/modify-format`.
      required:
      - callback_id
      - modify_format_config
      properties:
        callback_id:
          type: string
          description: Conversion job id.
        modify_format_config:
          type: array
          description: Per-slide formatting modifications.
          items:
            type: object
            properties:
              title:
                type: object
                description: Title-formatting modifications.
                additionalProperties: true
              body:
                type: object
                description: Body-formatting modifications.
                additionalProperties: true
            additionalProperties: true
      additionalProperties: true
    PreprocessFileResponse:
      description: Response body for `POST /api/v1/preprocess` and `POST /api/v1/template-converter/preprocess`.
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            type: object
            required:
            - request_identifier
            - file_name
            properties:
              request_identifier:
                type: string
                description: The caller-supplied identifier.
              file_name:
                type: string
                description: The filename that was processed.
              message:
                type: string
                description: Human-readable confirmation.
            additionalProperties: true
    SuccessEnvelope:
      type: object
      description: 'Standard success envelope. Endpoint-specific schemas extend this

        and constrain the `data` property to their concrete shape.

        Additional legacy keys (`status`, `log`, …) may appear alongside

        `success`/`data` for backwards compatibility, and some legacy

        handlers omit `success`, so it is not marked required.

        '
      required:
      - data
      properties:
        success:
          type: boolean
          description: '`true` on success (omitted by some legacy handlers).'
        data:
          type: object
          description: Endpoint-specific payload.
      additionalProperties: true
    TemplateConverterTemplateChangeRequest:
      type: object
      description: Request body for `POST /api/v1/template-converter/{callback_id}/template-change`.
      required:
      - templateName
      properties:
        templateName:
          type: string
          description: New target brand template name.
        settings:
          type: object
          description: Override conversion settings (same shape as `TemplateConverterStartRequest.settings`).
          additionalProperties: true
      additionalProperties: true
    TemplateConverterDownloadResponse:
      description: Response body for `GET /api/v1/template-converter/download/{callback_id}`.
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            type: object
            required:
            - download_url
            - file_name
            properties:
              download_url:
                type: string
                format: uri
                description: Signed download URL.
              file_name:
                type: string
                description: Filename of the converted deck.
              message:
                type: string
                description: Human-readable confirmation.
            additionalProperties: true
    TemplateConverterAdjustWorkAreaRequest:
      type: object
      description: Request body for `POST /api/v1/template-converter/adjust-work-area`.
      required:
      - callback_id
      - slide_index
      - selection
      properties:
        callback_id:
          type: string
          description: Conversion job id.
        slide_index:
          type: integer
          minimum: 0
          description: Zero-based slide index.
        selection:
          type: object
          description: Selected work-area-option payload.
          additionalProperties: true
      additionalProperties: true
  responses:
    Forbidden:
      description: Caller is authenticated but not allowed to perform this operation. `error.code` is `FORBIDDEN`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          example:
            success: false
            data: null
            error:
              code: FORBIDDEN
              message: Access to the resource is forbidden.
              details: {}
    RateLimited:
      description: "Rate limit, usage limit, or gateway-level throttle exceeded.\n`error.code` is `TOO_MANY_REQUESTS` (gateway throttle),\n`RATE_LIMIT_EXCEEDED` (per-category), or `USAGE_LIMIT_EXCEEDED`\n(annual quota).\n\nDefault limits (all configurable per company/key):\n- Gateway throttle (per API key) → `TOO_MANY_REQUESTS`: 10 requests/second\n  sustained, 5 burst, 1,000 requests/day.\n- Per-company, per-category sliding 60-second window →\n  `RATE_LIMIT_EXCEEDED`. The applicable category is given by each\n  operation's `x-rate-limit-category`.\n- Annual usage quota → `USAGE_LIMIT_EXCEEDED`: 50,000 slide\n  generations/year and 1,000,000 presentation downloads/year.\n\n`X-RateLimit-Limit`/`X-RateLimit-Remaining`/`X-RateLimit-Reset` are\nreturned on successful (2xx) responses from rate-limited endpoints\nand, with `Retry-After`, on the per-category `RATE_LIMIT_EXCEEDED`\n429 (the headers declared below). The gateway `TOO_MANY_REQUESTS`\nand annual `USAGE_LIMIT_EXCEEDED` responses do not carry them. Read\n`X-RateLimit-Remaining` to self-throttle and honour `Retry-After` on\na 429.\n"
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/XRateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/XRateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/XRateLimitReset'
        Retry-After:
          $ref: '#/components/headers/RetryAfter'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          example:
            success: false
            data: null
            error:
              code: RATE_LIMIT_EXCEEDED
              message: Rate limit exceeded for this category. Try again later.
              details:
                category: auto_generator
                retry_after_seconds: 12
    ServiceUnavailable:
      description: Service is temporarily unavailable (downstream dependency unhealthy). `error.code` is `SERVICE_UNAVAILABLE` or `EXTERNAL_SERVICE_ERROR`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          example:
            success: false
            data: null
            error:
              code: SERVICE_UNAVAILABLE
              message: Service is temporarily unavailable.
              details: {}
    Unauthorized:
      description: 'Caller did not present a valid Bearer token, or the token has

        expired. `error.code` is one of `UNAUTHORIZED`, `INVALID_API_KEY`,

        `EXPIRED_API_KEY`.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          example:
            success: false
            data: null
            error:
              code: INVALID_API_KEY
              message: API key not found or not authorized.
              details: {}
    NotFound:
      description: 'Requested endpoint or resource does not exist. `error.code` is

        one of `ENDPOINT_NOT_FOUND`, `RESOURCE_NOT_FOUND`, `NOT_FOUND`.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          example:
            success: false
            data: null
            error:
              code: RESOURCE_NOT_FOUND
              message: The requested resource was not found.
              details: {}
    GatewayTimeout:
      description: A downstream call timed out. `error.code` is `GATEWAY_TIMEOUT`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          example:
            success: false
            data: null
            error:
              code: GATEWAY_TIMEOUT
              message: Gateway timeout.
              details: {}
    IdempotencyConflict:
      description: 'The supplied `Idempotency-Key` was already used with a different

        request body. Reuse a key only for identical retried requests.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          example:
            success: false
            data: null
            error:
              code: IDEMPOTENCY_KEY_REUSED_WITH_DIFFERENT_BODY
              message: This Idempotency-Key was already used with a different request body.
              details: {}
    InternalServerError:
      description: Unexpected server error. `error.code` is `INTERNAL_SERVER_ERROR`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          example:
            success: false
            data: null
            error:
              code: INTERNAL_SERVER_ERROR
              message: An unexpected server error occurred.
              details: {}
    BadRequest:
      description: Generic client error. `error.code` is one of `BAD_REQUEST`, `INVALID_JSON`, `MISSING_REQUIRED_FIELD`, `MISSING_QUERY_PARAM`, `MISSING_CALLBACK_ID`, `MISSING_SLIDES_ARRAY`, `MISSING_PROMPT`, `MISSING_TEMPLATE_ID`, `MISSING_FILE_CONTENT`, `MISSING_SHARE_DETAILS`, `INVALID_TYPE`, `INVALID_DATA`, `INVALID_DATA_TYPE`, `INVALID_PAYLOAD`, `INVALID_REQUEST`, `API_REQUEST_FAILED`, or `FILE_UPLOAD_FAILED`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          example:
            success: false
            data: null
            error:
              code: BAD_REQUEST
              message: Bad request.
              details: {}
    UnprocessableEntity:
      description: 'Request was well-formed but failed semantic validation.

        `error.code` is one of `INVALID_INPUT`, `UNPROCESSABLE_ENTITY`.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          example:
            success: false
            data: null
            error:
              code: INVALID_INPUT
              message: Invalid input provided.
              details: {}
    UnsupportedFileType:
      description: Uploaded file's extension or MIME type is not accepted. `error.code` is `UNSUPPORTED_FILE_TYPE`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          example:
            success: false
            data: null
            error:
              code: UNSUPPORTED_FILE_TYPE
              message: Unsupported file type.
              details: {}
  headers:
    XRateLimitReset:
      description: Unix timestamp (seconds) when the current rate-limit window resets.
      schema:
        type: integer
        format: int64
        minimum: 0
    XRateLimitLimit:
      description: 'The configured request limit for the rate-limit category

        (requests per 60-second window) that applied to this call.

        The applicable category is the operation''s `x-rate-limit-category`.

        Returned on every response (success and 429) so clients can

        self-throttle. See the Rate limits guide for the default

        per-category numbers.

        '
      schema:
        type: integer
        format: int32
        minimum: 0
    RetryAfter:
      description: Number of seconds the client should wait before retrying.
      schema:
        type: integer
        format: int32
        minimum: 0
    IdempotencyReplayed:
      description: Present and set to `true` when this response was served from the idempotency cache for a repeated `Idempotency-Key`.
      schema:
        type: string
        enum:
        - 'true'
    XRateLimitRemaining:
      description: 'Approximate number of requests remaining in the current

        60-second window for this caller and category.

        '
      schema:
        type: integer
        format: int32
        minimum: 0
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: 'Bearer token authentication. Supply the API key issued by

        Customer Success as `Authorization: Bearer <api_key>`. The API

        does NOT accept the AWS `x-api-key` header. Keys may have an

        expiry date; expired keys return `401 EXPIRED_API_KEY`. Keys are

        scoped to specific paths; calling an unauthorised path returns

        `404 ENDPOINT_NOT_FOUND`.

        '
