openapi: 3.1.0

info:
  title: Prezent Platform API
  version: 1.0.0
  summary: Agent-ready REST API for Prezent's content-generation and template-conversion services.
  description: |
    The Prezent Platform API exposes Prezent's AutoGenerator, Template Converter,
    Audiences, Themes, and File-upload services as a uniform JSON HTTP API.

    This contract describes the **target agent-ready shape** of the API: every
    documented endpoint returns a uniform success envelope `{ "success": true,
    "data": { ... } }` or a uniform error envelope `{ "success": false,
    "data": null, "error": { "code": "...", "message": "...", "details": { ... } } }`.
    Error codes are drawn from a stable catalog (see `ErrorCode`). The contract
    is additive: handlers may continue to emit legacy keys alongside the
    documented ones for backwards compatibility, so schemas explicitly allow
    additional properties at the envelope and data levels.

    Several endpoints kick off long-running background work and return a
    `callback_id` that the client polls against a corresponding status
    endpoint. The canonical async polling endpoint for the Template Converter
    family is **`GET /api/v2/template-converter/status/{callback_id}`** which
    uses strict HTTP-status mapping (200 only on workflow success, 4xx/5xx on
    workflow failure). The v1 polling endpoint at
    `/api/v1/template-converter/status/{callbackId}` (and its REST alias
    `GET /api/v1/template-conversions/{callback_id}`) continues to be served
    with legacy semantics (HTTP 200 with `status` field) and is intentionally
    omitted from this documentation.

    **REST resource aliases (v1.1).** AutoGenerator and Template Converter
    endpoints are documented here under their REST-resource path names
    (`/api/v1/autogenerations`, `/api/v1/template-conversions`). The legacy
    RPC-style paths under `/api/v1/autogenerator/*` and
    `/api/v1/template-converter/*` continue to be served indefinitely; they
    return a `Deprecation: true` header pointing to the successor alias.

    **Conventions that apply to every endpoint** (full reference in the
    companion guides on this documentation site):

    - **Auth:** API key as a Bearer token — `Authorization: Bearer <key>`.
      Each key is scoped to an allow-list of endpoint paths; an out-of-scope
      call returns `404 ENDPOINT_NOT_FOUND`.
    - **Rate limits:** gateway throttle 10 req/s sustained, 5 burst,
      1,000 req/day per key; per-company per-category 60-second sliding
      windows; annual quotas (50,000 slide generations/yr, 1,000,000
      downloads/yr). Limit breaches return `429` with `error.code`
      `TOO_MANY_REQUESTS` (gateway), `RATE_LIMIT_EXCEEDED` (per-category),
      or `USAGE_LIMIT_EXCEEDED` (annual).
    - **Errors:** every error uses the `{ success:false, data:null, error:{
      code, message, details } }` envelope with stable, documented `code`
      values.
    - **Idempotency & pagination:** mutating requests accept an
      `Idempotency-Key`; list endpoints accept opt-in `limit`/`cursor`
      paging.

    **Building with an AI agent?** Prezent ships a first-class Model Context
    Protocol (MCP) server. The hosted endpoint is
    `https://mcp.myprezent.com/mcp` (OAuth 2.1, works with Claude.ai Custom
    Connectors); a local stdio server is published on PyPI as
    `prezent-mcp-server` and plugs into Claude Desktop, Cursor, Cline,
    Continue, and Zed. The MCP tools wrap the same REST endpoints
    described here.

    **Official SDKs.** Typed REST clients are published for Python and
    TypeScript (`prezent-sdk`) — generated from and versioned against this
    spec. For other languages, generate a client from this document.

    **Out of scope of this document:** SCIM endpoints under `/api/v1/scim/*`.
    Those endpoints conform to RFC 7644 (SCIM 2.0) and follow a different
    envelope (`schemas`, `Resources`, `totalResults`, etc.). They are
    documented separately at /docs/scim-user-management.
  x-out-of-scope-note: |
    SCIM endpoints (`/api/v1/scim/*`) are NOT included in this spec. They
    follow RFC 7644 (SCIM 2.0) and are documented in a separate document at
    /docs/scim-user-management.
  contact:
    name: Prezent API Support
    email: support@prezent.ai
    url: https://prezent.ai
  license:
    name: Proprietary - Prezent, Inc.
    url: https://prezent.ai/terms

servers:
  - url: https://api.prezent.ai
    description: Production (canonical)
  - url: https://uatstage-api.myprezent.com
    description: UAT (user acceptance testing)
  - url: https://devstage-api.myprezent.com
    description: Development

security:
  - BearerAuth: []

tags:
  - name: AutoGenerator
    description: Long-running and synchronous endpoints that generate and
      manipulate AI-authored presentations from prompts, files, and assets.
  - name: Template Converter
    description: Apply a target brand template to an uploaded presentation,
      including review suggestions, work-area adjustment, layout change,
      and download.
  - name: Audiences
    description: List and search the audience profiles configured for the
      caller's company.
  - name: Themes
    description: List the presentation themes (brand templates) configured
      for the caller's company.
  - name: Upload
    description: Validate, preprocess, and upload supporting files
      (PowerPoint, PDF, images, etc.).
  - name: File Access
    description: Mint short-lived access tokens for the caller's stored
      files.
  - name: Webhooks
    description: Receive signed HTTPS callbacks when Prezent jobs complete
      or fail. Subscriptions are scoped per API key, retried over a 21h
      window, and auto-disabled after 50 consecutive failures. See the
      [Webhooks guide](/docs/webhooks) for the signature format and
      verification examples.
  - name: Streaming
    description: Open a Server-Sent Events stream to receive real-time
      progress events as Prezent generates a presentation. See the
      [Streaming guide](/docs/streaming) for a full walk-through plus
      reconnect semantics.
  - name: Health
    description: Liveness and component health-check endpoints.

paths:

  # -------------------------------------------------------------------------
  # Health
  # -------------------------------------------------------------------------
  /test:
    get:
      tags: [Health]
      summary: Liveness check
      description: |
        Returns a fixed greeting payload. Exists to allow clients to verify
        connectivity and credentials. Does not consult any downstream
        services.
      operationId: getTest
      x-rate-limit-category: general
      responses:
        '200':
          description: API is reachable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /health:
    get:
      tags: [Health]
      summary: Component health check
      description: |
        Reports the status of downstream services. With no `category`
        parameter, returns a simple "alive" greeting. With
        `category=autogenerator` or `category=scim`, reports
        per-component status and returns 503 if any required service is
        unhealthy.
      operationId: getHealth
      x-rate-limit-category: general
      parameters:
        - in: query
          name: category
          description: Component group to check. Omit for a generic
            liveness response.
          required: false
          schema:
            type: string
            enum: [autogenerator, scim]
      responses:
        '200':
          description: All checked components healthy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  # -------------------------------------------------------------------------
  # AutoGenerator family
  # -------------------------------------------------------------------------
  /api/v1/autogenerations:
    post:
      tags: [AutoGenerator]
      summary: Create an AutoGenerator job
      description: |
        Kicks off a background pipeline that turns the supplied prompt,
        context files, and assets into a Prezent presentation. Returns a
        `callback_id` that the caller polls via
        `GET /api/v1/autogenerations/{callback_id}` until `status` is
        `success` or `failed`.
      operationId: createAutogeneration
      x-rate-limit-category: autogenerator
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoGeneratorStartRequest'
      responses:
        '200':
          description: Job accepted; client must poll for completion.
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoGeneratorStartResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/autogenerations/{callback_id}:
    get:
      tags: [AutoGenerator]
      summary: Read an AutoGenerator job
      description: |
        Returns the current state of a previously started AutoGenerator job.
        The `status` field in the response data is one of
        `in_progress`, `success`, or `failed`. Once `success`, the payload
        also contains the generated slides, extracted images, theme/audience
        metadata, and other context required to display or further edit
        the deck.

        For the same `callback_id`, polling after `status=success` returns
        the same cached payload.
      operationId: getAutogeneration
      x-rate-limit-category: autogenerator
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
        - in: query
          name: deck_callback_id
          required: false
          description: Original deck callback id when polling a regenerate
            sub-job.
          schema: { type: string }
        - in: query
          name: operation
          required: false
          description: Sub-operation hint (used by regenerate flows).
          schema: { type: string }
        - in: query
          name: status_auto_polling
          required: false
          description: Pass `true` to indicate the caller is auto-polling;
            affects how stalled jobs are surfaced.
          schema: { type: string, enum: ['true', 'false'] }
      responses:
        '200':
          description: Current job status returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoGeneratorStatusResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/autogenerations/lookups:
    post:
      tags: [AutoGenerator]
      summary: Look up multiple AutoGenerator jobs in one call
      description: |
        Returns layout metadata for each `callback_id` in the request. Use
        when rendering a list view that needs many decks at once.
      operationId: createAutogenerationLookup
      x-rate-limit-category: autogenerator
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoGeneratorStatusBulkRequest'
      responses:
        '200':
          description: Bulk status returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoGeneratorStatusBulkResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/autogenerator/meta:
    post:
      tags: [AutoGenerator]
      summary: Fetch slide-metadata for asset IDs
      description: |
        Returns slide-level metadata (titles, layout codes, thumbnails) for
        each asset id provided. Used by editors that need to enrich a slide
        list without re-running generation.
      operationId: getAutoGeneratorMeta
      x-rate-limit-category: autogenerator
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoGeneratorMetaRequest'
      responses:
        '200':
          description: Metadata returned for each asset id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoGeneratorMetaResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/autogenerations/{callback_id}/downloads:
    post:
      tags: [AutoGenerator]
      summary: Create a download artefact for an AutoGenerator deck
      description: |
        Synchronously merges all slides for the given `callback_id` into a
        single PowerPoint (or PDF, depending on `outputFormat`) and returns
        a signed download URL. The merge step can take up to 60 seconds.
        Subject to the `AUTO_GEN_DOWNLOAD` usage limit in addition to the
        normal rate limits.
      operationId: createAutogenerationDownload
      x-rate-limit-category: autogenerator
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoGeneratorDownloadRequest'
      responses:
        '200':
          description: Merged deck produced; signed URL returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoGeneratorDownloadResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/autogenerations/{callback_id}/regenerations:
    post:
      tags: [AutoGenerator]
      summary: Create a regeneration of an AutoGenerator deck
      description: |
        Re-runs a portion of an existing AutoGenerator deck — typically a
        slide, node, or section — and returns a new `callback_id` to poll.
        Counted as a fresh generation against the `AUTO_GEN` usage cap.
      operationId: createAutogenerationRegeneration
      x-rate-limit-category: autogenerator
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
        - in: query
          name: operation
          required: true
          description: The regenerate sub-operation (for example
            `node_change`, `slide_regenerate`).
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoGeneratorRegenerateRequest'
      responses:
        '200':
          description: Regenerate job accepted; poll the returned
            `new_callback_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoGeneratorRegenerateResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/autogenerations/{callback_id}/node-changes:
    post:
      tags: [AutoGenerator]
      summary: Create a node-level change on an AutoGenerator slide
      description: |
        Mutates a single node (text, image, shape) within a slide of an
        existing deck. Returns the updated slide payload synchronously.
      operationId: createAutogenerationNodeChange
      x-rate-limit-category: autogenerator
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoGeneratorNodeChangeRequest'
      responses:
        '200':
          description: Node change applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoGeneratorGenericDataResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/autogenerator/slide-data:
    post:
      tags: [AutoGenerator]
      summary: Fetch slide data for a single slide callback
      description: |
        Returns the raw slide-data document (text, images, layout,
        speaker notes) for the given `slide_callback_id`.
      operationId: getAutoGeneratorSlideData
      x-rate-limit-category: autogenerator
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoGeneratorSlideDataRequest'
      responses:
        '200':
          description: Slide data returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoGeneratorGenericDataResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/autogenerations/{callback_id}/image-extractions:
    post:
      tags: [AutoGenerator]
      summary: Create an image-extraction for an AutoGenerator deck
      description: |
        Reads the PowerPoint at the given S3 location and returns the list
        of embedded images. If `force_update` is true, re-runs extraction
        even when cached results exist.
      operationId: createAutogenerationImageExtraction
      x-rate-limit-category: autogenerator
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoGeneratorExtractImagesRequest'
      responses:
        '200':
          description: Image list returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoGeneratorGenericDataResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/autogenerator/brand-image-search:
    post:
      tags: [AutoGenerator]
      summary: Search the caller's brand-image library
      description: |
        Returns brand images that match the query string, ordered by
        relevance. Supports `skip` and `limit` for pagination.
      operationId: searchAutoGeneratorBrandImages
      x-rate-limit-category: autogenerator
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoGeneratorBrandImageSearchRequest'
      responses:
        '200':
          description: Matching brand images returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoGeneratorMessageDataResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/autogenerator/library-image-search:
    post:
      tags: [AutoGenerator]
      summary: Search the configured stock-image library
      description: |
        Searches the configured stock image provider (Adobe Stock or
        Freepik, depending on company configuration). Supports
        `limit`/`offset` pagination. If `searchKey` is omitted, the
        handler infers it from the supplied slide context.
      operationId: searchAutoGeneratorLibraryImages
      x-rate-limit-category: autogenerator
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoGeneratorLibraryImageSearchRequest'
      responses:
        '200':
          description: Matching library images returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoGeneratorMessageDataResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/autogenerations/{callback_id}/image-replacements:
    post:
      tags: [AutoGenerator]
      summary: Create an image replacement on an AutoGenerator slide
      description: |
        Swaps an image on a slide with a new image sourced from the
        caller's workspace, Adobe Stock, Freepik, a previously uploaded
        file, an extracted image, or S3.
      operationId: createAutogenerationImageReplacement
      x-rate-limit-category: autogenerator
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoGeneratorReplaceImageRequest'
      responses:
        '200':
          description: Image replacement completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoGeneratorMessageDataResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/autogenerations/{callback_id}/reactions:
    post:
      tags: [AutoGenerator]
      summary: Create a reaction on an AutoGenerator deck
      description: |
        Persists a user reaction (like) or qualitative feedback against a
        previously generated deck/slide. When `type` is `feedback`,
        `shareDetails` must be provided.
      operationId: createAutogenerationReaction
      x-rate-limit-category: autogenerator
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoGeneratorReactionFeedbackRequest'
      responses:
        '200':
          description: Reaction/feedback stored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoGeneratorReactionFeedbackResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/autogenerations/{callback_id}/slide-actions:
    post:
      tags: [AutoGenerator]
      summary: Create a per-slide action on an AutoGenerator deck
      description: |
        Performs one of four actions against a slide: `duplicate`,
        `delete`, `add_sources_to_slides_note`, or `speaker_notes`. The
        required body fields depend on `action`.
      operationId: createAutogenerationSlideAction
      x-rate-limit-category: autogenerator
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoGeneratorSlideActionsRequest'
      responses:
        '200':
          description: Slide action completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoGeneratorSlideActionsResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  # -------------------------------------------------------------------------
  # Templates (unified collection, filtered by feature)
  # -------------------------------------------------------------------------
  /api/v1/templates:
    get:
      tags: [Themes]
      summary: List templates available to a feature
      description: |
        Returns the themes/templates available to the caller's company,
        optionally filtered to a specific feature. This single endpoint
        replaces the legacy `GET /api/v1/autogenerator/templates` and
        `GET /api/v1/template-converter/templates` aliases — pass the
        `feature` query parameter to scope results.

        **Pagination is opt-in.** Send `limit` (and follow `next_cursor`)
        to page; omit both `limit` and `cursor` to receive the full list
        unchanged.
      operationId: listTemplates
      x-rate-limit-category: general
      parameters:
        - in: query
          name: feature
          required: false
          description: Filter to templates enabled for a specific feature.
          schema:
            type: string
            enum: [auto_generator, template_converter]
        - in: query
          name: name
          required: false
          description: Optional case-insensitive name filter.
          schema: { type: string }
        - in: query
          name: sort
          required: false
          description: Sort expression (for example `name:asc`).
          schema: { type: string }
        - in: query
          name: limit
          required: false
          description: Items per page (1–200, default 50). Enables pagination.
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: cursor
          required: false
          description: Opaque cursor from a previous response's `next_cursor`.
          schema: { type: string }
        - in: query
          name: source
          required: false
          description: Source filter (e.g. brand vs prezent).
          schema: { type: string }
        - in: query
          name: enabledFeature
          required: false
          description: Optional feature flag filter.
          schema: { type: string }
      responses:
        '200':
          description: Templates returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemesListResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  # -------------------------------------------------------------------------
  # Audiences
  # -------------------------------------------------------------------------
  /api/v1/audiences:
    get:
      tags: [Audiences]
      summary: List audience profiles
      description: |
        Returns the audiences configured for the caller's company.

        **Pagination is opt-in.** Send `limit` (and follow `next_cursor`)
        to page; omit both `limit` and `cursor` to receive the full list
        unchanged.
      operationId: listAudiences
      x-rate-limit-category: general
      parameters:
        - in: query
          name: feature
          required: false
          description: Filter by feature scope.
          schema: { type: string }
        - in: query
          name: id
          required: false
          description: Filter to a single audience by id.
          schema: { type: string }
        - in: query
          name: sort
          required: false
          description: Sort expression (for example `name:asc`).
          schema: { type: string }
        - in: query
          name: limit
          required: false
          description: Max items per page (1–200, default 50). Sending this
            enables cursor pagination.
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: cursor
          required: false
          description: Opaque cursor from a previous response's `next_cursor`.
          schema: { type: string }
      responses:
        '200':
          description: Audiences returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudiencesListResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/audiences/search:
    post:
      tags: [Audiences]
      summary: Search audience profiles
      description: |
        Free-text and field-filtered search across audience profiles. Use
        the request body's `limit` field to cap how many matches are
        returned (most-relevant first) and the `filterBy*` fields to
        narrow the search.
      operationId: searchAudiences
      x-rate-limit-category: general
      parameters:
        - in: query
          name: feature
          required: false
          description: Filter by feature scope.
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudiencesSearchRequest'
      responses:
        '200':
          description: Matching audiences returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudiencesListResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  # -------------------------------------------------------------------------
  # Themes
  # -------------------------------------------------------------------------
  /api/v1/themes:
    get:
      tags: [Themes]
      summary: List themes (brand templates)
      description: |
        Returns the presentation themes available to the caller's company.

        **Pagination is opt-in.** Send `limit` (and follow `next_cursor`)
        to page; omit both `limit` and `cursor` to receive the full list
        unchanged.
      operationId: listThemes
      x-rate-limit-category: general
      parameters:
        - in: query
          name: name
          required: false
          description: Optional case-insensitive name filter.
          schema: { type: string }
        - in: query
          name: feature
          required: false
          description: Filter by feature scope.
          schema: { type: string }
        - in: query
          name: enabledFeature
          required: false
          description: Optional feature flag filter.
          schema: { type: string }
        - in: query
          name: sort
          required: false
          description: Sort expression (for example `name:asc`).
          schema: { type: string }
        - in: query
          name: limit
          required: false
          description: Max items per page (1–200, default 50). Sending this
            enables cursor pagination.
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: cursor
          required: false
          description: Opaque cursor from a previous response's `next_cursor`.
          schema: { type: string }
        - in: query
          name: source
          required: false
          description: Source filter.
          schema: { type: string }
      responses:
        '200':
          description: Themes returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemesListResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  # -------------------------------------------------------------------------
  # File Access
  # -------------------------------------------------------------------------
  /api/v1/access-tokens:
    post:
      tags: [File Access]
      summary: Create signed access tokens for stored files
      description: |
        Returns short-lived per-file access tokens that allow the caller
        to download the referenced files from the underlying storage
        backend.
      operationId: createAccessTokens
      x-rate-limit-category: general
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileAccessRequest'
      responses:
        '200':
          description: Tokens minted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileAccessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  # -------------------------------------------------------------------------
  # Upload / Preprocess / Validate
  # -------------------------------------------------------------------------
  /api/v1/upload:
    post:
      tags: [Upload]
      summary: Upload a single file (base64-encoded)
      description: |
        Accepts a single file as a base64 string or `data:` URL in the
        request body. The response contains the uploaded file's id, S3
        path, and metadata.
      operationId: uploadFile
      x-rate-limit-category: general
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadFileRequest'
      responses:
        '200':
          description: File uploaded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadFileResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '415': { $ref: '#/components/responses/UnsupportedFileType' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/preprocess:
    post:
      tags: [Upload]
      summary: Preprocess a file in chunks
      description: |
        Accepts one chunk of a multi-chunk file upload. The caller drives
        chunking via `chunkIndex` and `totalChunks`; chunks for the same
        upload share a `requestIdentifier`. Once all chunks for a
        `requestIdentifier` have arrived the file is assembled and made
        available to downstream operations.
      operationId: preprocessFile
      x-rate-limit-category: general
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreprocessFileRequest'
      responses:
        '200':
          description: Chunk received.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreprocessFileResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '415': { $ref: '#/components/responses/UnsupportedFileType' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/validate:
    post:
      tags: [Upload]
      summary: Validate uploaded files and/or web links
      description: |
        Validates a set of previously uploaded files (referenced by
        `fileIdentifiers`) and/or a list of web links. At least one of
        `fileIdentifiers` or `webLinks` must be non-empty.
      operationId: validateFiles
      x-rate-limit-category: general
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateFilesRequest'
      responses:
        '200':
          description: Validation result returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateFilesResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '415': { $ref: '#/components/responses/UnsupportedFileType' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  # -------------------------------------------------------------------------
  # Template Converter family
  # -------------------------------------------------------------------------
  /api/v1/template-conversions:
    post:
      tags: [Template Converter]
      summary: Create a template-conversion job
      description: |
        Kicks off a pipeline that applies the target brand template
        (`templateName`) to the input PowerPoint (`fileId` or
        `inputDeck`). Returns a `callback_id` to poll. Counted against
        the `TC_START` usage limit.

        Subsequent calls in the same conversion lifecycle: poll the v2
        status endpoint at
        `GET /api/v2/template-converter/status/{callback_id}` until the
        pipeline reaches a terminal state.
      operationId: createTemplateConversion
      x-rate-limit-category: template_converter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateConverterStartRequest'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Job accepted; client must poll for completion.
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterStartResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v2/template-converter/status/{callback_id}:
    get:
      tags: [Template Converter]
      summary: Poll a template-conversion job (strict status mapping)
      description: |
        v2 polling endpoint with **strict HTTP-status mapping**: returns
        **HTTP 200 only when the conversion has completed successfully**.
        While the pipeline is still running the status is `in_progress`
        and the response is **HTTP 202**. On workflow failure the
        endpoint returns a `4xx` or `5xx` with the standard error
        envelope.

        Use this endpoint instead of the v1 polling endpoint
        (`/api/v1/template-converter/status/{callbackId}`) whenever
        possible — agents can rely on the HTTP status alone to branch on
        success vs failure, without inspecting body fields.
      operationId: getTemplateConverterStatusV2
      x-rate-limit-category: template_converter
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
        - in: query
          name: source
          required: false
          description: Pass `nexus` to include the full `outputs` blob in
            the response (intended for Prezent's Nexus front-end).
          schema:
            type: string
            enum: [nexus]
      responses:
        '200':
          description: Conversion completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterStatusV2SuccessResponse'
        '202':
          description: Conversion is still in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterStatusV2InProgressResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/template-conversions/preprocessings:
    post:
      tags: [Template Converter]
      summary: Create a preprocessing chunk for a template-conversion input
      description: |
        Accepts one chunk of a multi-chunk PPTX upload, used as the
        `inputDeck` for a subsequent template-conversion job. Only `.pptx`
        files are accepted. Collection-level — the upload is grouped by
        the body's `fileIdentifier` and precedes the creation of the
        conversion's `callback_id`.
      operationId: createTemplateConversionPreprocessing
      x-rate-limit-category: template_converter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreprocessFileRequest'
      responses:
        '200':
          description: Chunk received.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreprocessFileResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '415': { $ref: '#/components/responses/UnsupportedFileType' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/template-conversions/finalisations:
    post:
      tags: [Template Converter]
      summary: Create a finalisation for a chunked PPTX upload
      description: |
        Concludes a chunked upload identified by `fileIdentifier`. The
        finalised file must be a `.pptx`, no larger than 200 MB, and no
        more than 100 pages. Collection-level — runs before the conversion's
        `callback_id` exists.
      operationId: createTemplateConversionFinalisation
      x-rate-limit-category: template_converter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateConverterFinalprocessRequest'
      responses:
        '200':
          description: File assembled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterFinalprocessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '415': { $ref: '#/components/responses/UnsupportedFileType' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/template-conversions/{callback_id}/review-suggestions:
    get:
      tags: [Template Converter]
      summary: Read review suggestions for a template-conversion
      description: |
        Returns the list of editorial suggestions produced for the
        converted deck identified by `callback_id`. Each suggestion may
        be applied via the corresponding PATCH endpoint.
      operationId: listTemplateConversionReviewSuggestions
      x-rate-limit-category: template_converter
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
      responses:
        '200':
          description: Suggestions returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterReviewSuggestionsResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

    patch:
      tags: [Template Converter]
      summary: Update review suggestions on a template-conversion
      description: |
        Applies a subset of editorial suggestions to the converted deck
        identified by `callback_id`. Kicks off a background pipeline that
        produces a new derived deck; the response carries a new
        `callback_id` to poll.
      operationId: updateTemplateConversionReviewSuggestions
      x-rate-limit-category: template_converter
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateConverterReviewSuggestionsPatchRequest'
      responses:
        '200':
          description: Pipeline accepted; poll the returned `callback_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterAsyncProcessingResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/template-conversions/{callback_id}/template-changes:
    post:
      tags: [Template Converter]
      summary: Create a template change on a template-conversion
      description: |
        Re-runs the conversion pipeline for an already-converted deck
        against a new target `templateName`. Returns a new `callback_id`
        to poll.
      operationId: createTemplateConversionTemplateChange
      x-rate-limit-category: template_converter
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateConverterTemplateChangeRequest'
      responses:
        '200':
          description: Pipeline accepted; poll the returned `callback_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterAsyncProcessingResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/template-conversions/{callback_id}/download:
    get:
      tags: [Template Converter]
      summary: Read the download URL for a template-conversion
      description: |
        Returns a signed download URL for the converted deck identified
        by `callback_id`. Counted against the `TC_DOWNLOAD` usage limit.
      operationId: getTemplateConversionDownload
      x-rate-limit-category: template_converter
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
      responses:
        '200':
          description: Signed download URL returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterDownloadResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/template-conversions/{callback_id}/comply-metrics:
    post:
      tags: [Template Converter]
      summary: Create a Comply metrics record on a template-conversion
      description: |
        Records compliance metrics for a converted deck. The body is
        forwarded to the ComplyMetrics service. Typically invoked via a
        `callback_id + token` URL handed back to the caller after a
        conversion.
      operationId: createTemplateConversionComplyMetrics
      x-rate-limit-category: template_converter
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Arbitrary metrics payload forwarded to the ComplyMetrics service.
      responses:
        '200':
          description: Metrics recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterGenericResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/template-conversions/{callback_id}/reactions:
    put:
      tags: [Template Converter]
      summary: Upsert a reaction on a template-conversion
      description: |
        Records a like or qualitative feedback against a converted deck.
        When `type` is `liked` the `value` must be a boolean; when
        `feedback` the `value` must be a string. Uses PUT (legacy quirk
        preserved from the original endpoint) rather than POST.
      operationId: putTemplateConversionReaction
      x-rate-limit-category: template_converter
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateConverterReactionFeedbackRequest'
      responses:
        '200':
          description: Reaction/feedback stored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterReactionFeedbackResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/template-conversions/{callback_id}/work-area-options:
    get:
      tags: [Template Converter]
      summary: Read work-area options for a template-conversion slide
      description: |
        Returns the available work-area adjustment options for the given
        slide of the given conversion job.
      operationId: listTemplateConversionWorkAreaOptions
      x-rate-limit-category: template_converter
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
        - in: query
          name: slide_index
          required: true
          description: Zero-based slide index.
          schema: { type: integer, minimum: 0 }
      responses:
        '200':
          description: Work-area options returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterWorkAreaOptionsResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/template-conversions/{callback_id}/work-area-adjustments:
    post:
      tags: [Template Converter]
      summary: Create a work-area adjustment on a template-conversion
      description: |
        Applies a selected work-area adjustment to the given slide of a
        conversion job.
      operationId: createTemplateConversionWorkAreaAdjustment
      x-rate-limit-category: template_converter
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateConverterAdjustWorkAreaRequest'
      responses:
        '200':
          description: Adjustment applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterGenericResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/template-conversions/{callback_id}/layouts:
    get:
      tags: [Template Converter]
      summary: Read layout options for a template-conversion
      description: |
        Returns the layout options available for the target template
        and, optionally, the input deck's layouts for the given slide.
      operationId: listTemplateConversionLayouts
      x-rate-limit-category: template_converter
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
        - in: query
          name: slide_index
          required: false
          description: Zero-based slide index. If omitted, returns
            layouts for every slide.
          schema: { type: integer, minimum: 0 }
      responses:
        '200':
          description: Layout options returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterLayoutsResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/template-conversions/{callback_id}/layout-updates:
    post:
      tags: [Template Converter]
      summary: Create a layout update on a template-conversion
      description: |
        Updates the layout of a slide and re-renders the affected portion
        of the converted deck. Returns a new `callback_id` to poll.
      operationId: createTemplateConversionLayoutUpdate
      x-rate-limit-category: template_converter
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateConverterUpdateLayoutRequest'
      responses:
        '200':
          description: Pipeline accepted; poll the returned `callback_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterAsyncProcessingResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/template-conversions/{callback_id}/format-modifications:
    post:
      tags: [Template Converter]
      summary: Create a format modification on a template-conversion
      description: |
        Applies a batch of format modifications (title-formatting,
        body-formatting) to a converted deck and re-renders the affected
        slides. Returns a new `callback_id` to poll.
      operationId: createTemplateConversionFormatModification
      x-rate-limit-category: template_converter
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateConverterModifyFormatRequest'
      responses:
        '200':
          description: Pipeline accepted; poll the returned `callback_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterAsyncProcessingResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/template-conversions/{callback_id}/format-modifications/settings:
    get:
      tags: [Template Converter]
      summary: Read available format-modification settings for a template-conversion
      description: |
        Returns the available formatting controls (font sizes, weight,
        alignment) that may be applied to title/body text in a converted
        deck.
      operationId: getTemplateConversionFormatModificationSettings
      x-rate-limit-category: template_converter
      parameters:
        - $ref: '#/components/parameters/CallbackIdPath'
      responses:
        '200':
          description: Settings returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateConverterModifyFormatSettingsResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  # -------------------------------------------------------------------------
  # Webhooks (subscription management plane).
  #
  # All paths are scoped to the calling API key. Subscriptions are
  # per-key — a key can only manage subscriptions it created. The HMAC
  # secret is returned ONCE on create / rotate; reads only expose the
  # `secret_prefix` (first 6 chars).
  # -------------------------------------------------------------------------
  /api/v1/webhook-subscriptions:
    post:
      tags: [Webhooks]
      summary: Create a webhook subscription
      description: |
        Registers a new HTTPS endpoint to receive signed delivery
        callbacks for the listed event types. Returns the HMAC `secret`
        ONCE — store it securely. Subsequent reads only expose the
        `secret_prefix`.
      operationId: createWebhookSubscription
      x-rate-limit-category: general
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscriptionCreateRequest'
      responses:
        '201':
          description: Subscription created. Body contains the
            `secret` — the only response that ever exposes it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionCreateResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }
    get:
      tags: [Webhooks]
      summary: List webhook subscriptions
      description: |
        Returns the subscriptions owned by the calling API key. Excludes
        soft-deleted rows. Use the standard cursor-pagination parameters
        — see [Developer Guide → Pagination](/docs/developer-guide#pagination).
      operationId: listWebhookSubscriptions
      x-rate-limit-category: general
      parameters:
        - in: query
          name: limit
          required: false
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 25 }
        - in: query
          name: cursor
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Paginated subscription list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionListResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/webhook-subscriptions/{id}:
    get:
      tags: [Webhooks]
      summary: Read a webhook subscription
      description: |
        Returns one subscription. `secret_prefix` (the first 6 chars of
        the HMAC secret) is exposed for human disambiguation; the full
        secret is never returned by a read.
      operationId: getWebhookSubscription
      x-rate-limit-category: general
      parameters:
        - $ref: '#/components/parameters/WebhookSubscriptionIdPath'
      responses:
        '200':
          description: Subscription found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionReadResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }
    patch:
      tags: [Webhooks]
      summary: Update a webhook subscription
      description: |
        Partial update. Any combination of `url`, `events`, `description`,
        or `status` may be supplied. Changes to `url` are re-validated
        against the SSRF / scheme / port rules. Setting `status` to
        `"active"` re-enables an auto-disabled subscription.
      operationId: updateWebhookSubscription
      x-rate-limit-category: general
      parameters:
        - $ref: '#/components/parameters/WebhookSubscriptionIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscriptionUpdateRequest'
      responses:
        '200':
          description: Subscription updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionReadResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }
    delete:
      tags: [Webhooks]
      summary: Delete a webhook subscription
      description: |
        Soft-deletes the subscription. The `id` is permanently retired
        — no future deliveries will be attempted, and the row is
        excluded from list responses.
      operationId: deleteWebhookSubscription
      x-rate-limit-category: general
      parameters:
        - $ref: '#/components/parameters/WebhookSubscriptionIdPath'
      responses:
        '200':
          description: Subscription deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionDeleteResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/webhook-subscriptions/{id}/rotate-secret:
    post:
      tags: [Webhooks]
      summary: Rotate the HMAC secret for a subscription
      description: |
        Generates a new HMAC `secret` and invalidates the old one
        immediately. Returns the new secret ONCE — store it before
        responding to the caller. There is no grace window during which
        both secrets verify; if you need an overlap, stand up a second
        subscription on a distinct path, switch over, then delete the
        old one.
      operationId: rotateWebhookSubscriptionSecret
      x-rate-limit-category: general
      parameters:
        - $ref: '#/components/parameters/WebhookSubscriptionIdPath'
      responses:
        '200':
          description: Secret rotated. Body contains the new
            `secret` — the only place it is ever returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionRotateResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  /api/v1/webhook-subscriptions/{id}/test:
    post:
      tags: [Webhooks]
      summary: Send a test delivery to a subscription
      description: |
        Immediately POSTs a synthetic `webhook.test` event to the
        subscription's URL (signed with the current secret, 5s timeout,
        no retries) and returns the response status + body verbatim.
        Use this to verify the receiver's signature-verification path
        before real traffic flows.
      operationId: testWebhookSubscription
      x-rate-limit-category: general
      parameters:
        - $ref: '#/components/parameters/WebhookSubscriptionIdPath'
      responses:
        '200':
          description: Test delivery attempted. The `delivery.ok` field
            indicates whether the receiver returned a 2xx.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionTestResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

  # =========================================================================
  # Streaming (Server-Sent Events)
  # =========================================================================
  /api/v1/streams/sessions:
    post:
      tags: [Streaming]
      summary: Open a stream session for an existing job
      description: |
        Returns a short-lived URL (5-minute TTL) that you open with
        EventSource (or any SSE client) to receive a live feed of
        progress events for the job identified by `callback_id`. The
        token in the URL is bound to your API key and to that
        `callback_id` only.

        See the [Streaming guide](/docs/streaming) for the full
        walk-through, the event catalog, and reconnect semantics.
      operationId: createStreamSession
      x-rate-limit-category: general
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamSessionCreateRequest'
      responses:
        '201':
          description: A streaming URL has been minted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamSessionCreateResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '504': { $ref: '#/components/responses/GatewayTimeout' }

# =========================================================================
# Webhooks — events Prezent POSTs to your subscribed HTTPS endpoint.
# Manage subscriptions via the /api/v1/webhook-subscriptions endpoints above.
# Every delivery is signed (X-Prezent-Signature: HMAC-SHA256 of
# "{timestamp}.{raw_body}"); delivery is at-least-once with retries at
# +1m, +5m, +30m, +2h, +6h, +18h over a 21-hour window, then a dead-letter
# queue. A subscription auto-disables after 50 consecutive failures.
# =========================================================================
webhooks:
  autogeneration.completed:
    post:
      tags: [Webhooks]
      summary: AutoGenerator job completed
      description: |
        Delivered when an AutoGenerator job finishes successfully. Verify
        the `X-Prezent-Signature` header and deduplicate on the event `id`.
      operationId: webhookAutogenerationCompleted
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebhookEvent' }
      responses:
        '200':
          description: Acknowledged — return any 2xx within 10 seconds to mark the delivery successful.
  autogeneration.failed:
    post:
      tags: [Webhooks]
      summary: AutoGenerator job failed
      description: Delivered when an AutoGenerator job fails. Same envelope, signature, and retry semantics as `autogeneration.completed`.
      operationId: webhookAutogenerationFailed
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebhookEvent' }
      responses:
        '200': { description: Acknowledged — any 2xx within 10 seconds. }
  template_conversion.completed:
    post:
      tags: [Webhooks]
      summary: Template Converter job completed
      description: Delivered when a Template Converter job finishes successfully.
      operationId: webhookTemplateConversionCompleted
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebhookEvent' }
      responses:
        '200': { description: Acknowledged — any 2xx within 10 seconds. }
  template_conversion.failed:
    post:
      tags: [Webhooks]
      summary: Template Converter job failed
      description: Delivered when a Template Converter job fails.
      operationId: webhookTemplateConversionFailed
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebhookEvent' }
      responses:
        '200': { description: Acknowledged — any 2xx within 10 seconds. }
  webhook.test:
    post:
      tags: [Webhooks]
      summary: Test delivery
      description: |
        Sent once when you call the subscription `test` endpoint. Single-shot
        — delivered once with no retries — so you can verify connectivity and
        signature handling before production traffic flows.
      operationId: webhookTest
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebhookEvent' }
      responses:
        '200': { description: Acknowledged — any 2xx within 10 seconds. }

# =========================================================================
# Components
# =========================================================================
components:

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: |
        Bearer token authentication. Supply the API key issued by
        Customer Success as `Authorization: Bearer <api_key>`. The API
        does NOT accept the AWS `x-api-key` header. Keys may have an
        expiry date; expired keys return `401 EXPIRED_API_KEY`. Keys are
        scoped to specific paths; calling an unauthorised path returns
        `404 ENDPOINT_NOT_FOUND`.

  parameters:
    CallbackIdPath:
      name: callback_id
      in: path
      required: true
      description: Server-issued opaque identifier returned by an async
        kick-off endpoint. Used to poll status or fetch derived
        artefacts.
      schema:
        type: string
        minLength: 1

    WebhookSubscriptionIdPath:
      name: id
      in: path
      required: true
      description: The public subscription id returned by `POST
        /api/v1/webhook-subscriptions` — shaped `whsub_<32 hex chars>`.
      schema:
        type: string
        pattern: '^whsub_[a-f0-9]{32}$'
        example: whsub_3f7a9b1c8d2e4f5a6b7c8d9e0f1a2b3c

    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        Optional client-generated key (a UUID is ideal) that makes a
        write request safe to retry. The first request is processed and
        its response cached for 24 hours; an identical retry with the
        same key returns the cached response plus an
        `Idempotency-Replayed: true` header, so the job is never created
        twice. Reusing a key with a **different** body returns
        `409 IDEMPOTENCY_KEY_REUSED_WITH_DIFFERENT_BODY`.
      schema:
        type: string
        example: 8e6df756-18f6-4f16-8e12-7d7a5c5cb181

  headers:
    IdempotencyReplayed:
      description: Present and set to `true` when this response was served
        from the idempotency cache for a repeated `Idempotency-Key`.
      schema: { type: string, enum: ['true'] }
    XRateLimitLimit:
      description: |
        The configured request limit for the rate-limit category
        (requests per 60-second window) that applied to this call.
        The applicable category is the operation's `x-rate-limit-category`.
        Returned on every response (success and 429) so clients can
        self-throttle. See the Rate limits guide for the default
        per-category numbers.
      schema: { type: integer, format: int32, minimum: 0 }
    XRateLimitRemaining:
      description: |
        Approximate number of requests remaining in the current
        60-second window for this caller and category.
      schema: { type: integer, format: int32, minimum: 0 }
    XRateLimitReset:
      description: Unix timestamp (seconds) when the current rate-limit
        window resets.
      schema: { type: integer, format: int64, minimum: 0 }
    RetryAfter:
      description: Number of seconds the client should wait before
        retrying.
      schema: { type: integer, format: int32, minimum: 0 }

  schemas:

    # ---- Envelopes -------------------------------------------------------
    SuccessEnvelope:
      type: object
      description: |
        Standard success envelope. Endpoint-specific schemas extend this
        and constrain the `data` property to their concrete shape.
        Additional legacy keys (`status`, `log`, …) may appear alongside
        `success`/`data` for backwards compatibility, and some legacy
        handlers omit `success`, so it is not marked required.
      required: [data]
      properties:
        success:
          type: boolean
          description: '`true` on success (omitted by some legacy handlers).'
        data:
          type: object
          description: Endpoint-specific payload.
      additionalProperties: true

    ErrorEnvelope:
      type: object
      description: |
        Standard error envelope returned by every documented endpoint
        (both in-Lambda and gateway-level errors). Additional legacy
        keys may appear alongside `success`/`data`/`error` for
        backwards compatibility.
      required: [success, data, error]
      properties:
        success:
          type: boolean
          const: false
          description: Always `false` on error.
        data:
          type: ['object', 'null']
          description: Always `null` on error.
        error:
          type: object
          required: [code, message]
          description: Error description.
          properties:
            code:
              $ref: '#/components/schemas/ErrorCode'
            message:
              type: string
              description: Human-readable error description (English).
            details:
              type: object
              description: Optional structured details (validation
                failures, downstream-service info, etc.).
              additionalProperties: true
      additionalProperties: true

    ErrorCode:
      type: string
      description: |
        Stable identifier for an error condition. Codes never change
        meaning or HTTP status once published.
      enum:
        - INVALID_API_KEY
        - EXPIRED_API_KEY
        - UNAUTHORIZED
        - FORBIDDEN
        - ENDPOINT_NOT_FOUND
        - RESOURCE_NOT_FOUND
        - NOT_FOUND
        - METHOD_NOT_ALLOWED
        - UNSUPPORTED_FILE_TYPE
        - INVALID_INPUT
        - UNPROCESSABLE_ENTITY
        - RATE_LIMIT_EXCEEDED
        - USAGE_LIMIT_EXCEEDED
        - TOO_MANY_REQUESTS
        - THROTTLED
        - BAD_REQUEST
        - INVALID_JSON
        - MISSING_REQUIRED_FIELD
        - MISSING_QUERY_PARAM
        - MISSING_CALLBACK_ID
        - MISSING_SLIDES_ARRAY
        - MISSING_PROMPT
        - MISSING_TEMPLATE_ID
        - MISSING_FILE_CONTENT
        - MISSING_SHARE_DETAILS
        - INVALID_TYPE
        - INVALID_DATA
        - INVALID_DATA_TYPE
        - INVALID_PAYLOAD
        - INVALID_REQUEST
        - API_REQUEST_FAILED
        - FILE_UPLOAD_FAILED
        - MAX_RETRIES_EXCEEDED
        - EXTERNAL_SERVICE_ERROR
        - INTERNAL_SERVER_ERROR
        - SERVICE_UNAVAILABLE
        - GATEWAY_TIMEOUT

    CallbackEnvelope:
      description: Async-start envelope. `data.callback_id` is the value
        the client polls.
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              type: object
              required: [callback_id]
              properties:
                callback_id:
                  type: string
                  description: Server-issued opaque identifier.
                token:
                  type: string
                  description: Optional one-time token used by
                    callback-id-scoped URLs (for example status polling
                    when no Bearer key is available).
              additionalProperties: true

    RateLimitInfo:
      type: object
      description: Out-of-body rate-limit information. Returned via
        headers, not in the response body; this schema exists for tooling
        only.
      properties:
        limit:
          type: integer
          description: Configured requests-per-window for the category.
        remaining:
          type: integer
          description: Approximate requests remaining in the current
            window.
        reset:
          type: integer
          format: int64
          description: Unix timestamp (seconds) when the window resets.
        retry_after_seconds:
          type: integer
          description: Seconds to wait before retrying.

    # ---- Test / Health ---------------------------------------------------
    TestResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              type: object
              properties:
                message:
                  type: string
                  description: Fixed greeting string.
              additionalProperties: true

    HealthResponse:
      description: Liveness / health response. The simple liveness probe
        returns just a `message`; component health checks may return a
        richer `data` payload (per-service status, timestamp).
      type: object
      additionalProperties: true
      properties:
        message:
          type: string
          description: Liveness message.
        status:
          type: string
          description: Overall status, when reported.
        data:
          type: object
          additionalProperties: true
          description: Optional richer health payload.
          properties:
            message:
              type: string
            category:
              type: string
              description: The category that was checked.
            services:
              type: array
              description: Per-component status report.
              items:
                type: object
                additionalProperties: true
                properties:
                  name:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
            timestamp:
              type: string
              format: date-time

    # ---- AutoGenerator: requests ----------------------------------------
    AutoGeneratorStartRequest:
      type: object
      description: Request body for `POST /api/v1/autogenerator`.
      required: [prompt]
      properties:
        prompt:
          type: string
          description: Natural-language description of the deck to
            generate.
        text:
          type: string
          description: Additional free-text context to ground the deck.
        files:
          type: array
          description: Previously uploaded supporting files (by id).
          items: { type: string }
        web_links:
          type: array
          description: Web URLs to ingest as additional context.
          items: { type: string, format: uri }
        image_ids:
          type: array
          description: Image identifiers to source from the caller's
            library.
          items: { type: string }
        audience:
          type: string
          description: Target audience id or persona name.
        template_id:
          type: string
          description: Target theme/template id.
        settings:
          type: object
          description: Per-generation settings.
          properties:
            add_sources_to_footer:
              type: boolean
              description: Render source attributions in slide footers.
            add_sources_to_slides_note:
              type: boolean
              description: Render source attributions in slide notes.
            generate_speaker_notes:
              type: boolean
              description: Generate speaker notes.
            extract_graph_data:
              type: boolean
              description: Extract structured data from images/charts in
                supporting files.
          additionalProperties: true
      additionalProperties: true

    AutoGeneratorStatusBulkRequest:
      type: object
      description: Request body for
        `POST /api/v1/autogenerator/status-bulk`.
      required: [callback_ids]
      properties:
        callback_ids:
          type: array
          description: Callback ids to look up.
          minItems: 1
          items: { type: string }
      additionalProperties: true

    AutoGeneratorMetaRequest:
      type: object
      description: Request body for `POST /api/v1/autogenerator/meta`.
      required: [assetIds, callbackID]
      properties:
        assetIds:
          type: array
          description: Asset ids to look up metadata for.
          minItems: 1
          items: { type: string }
        callbackID:
          type: string
          description: Parent deck callback id. (Legacy camelCase
            preserved for backwards compatibility; new clients should
            also continue to send this field.)
      additionalProperties: true

    AutoGeneratorDownloadRequest:
      type: object
      description: Request body for
        `POST /api/v1/autogenerator/download`.
      required: [callback_id]
      properties:
        callback_id:
          type: string
          minLength: 1
          description: Deck callback id to merge & download.
        sources:
          type: object
          description: Source-attribution configuration for the merged
            output.
          properties:
            add_sources_to_slides_note:
              type: boolean
              description: Render source attributions in slide notes.
          additionalProperties: true
        speaker_notes:
          type: object
          description: Speaker-notes configuration for the merged
            output.
          properties:
            add_speaker_notes_to_slides_note:
              type: boolean
[...]
